$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #ffffff;
$background-color           : #5280A4;
$text-color                 : #222827;
$text-muted-color           : #8898A7;
$media-circle-bg            : #f4f4f4;
$border-color               : #EAEAEA;
$primary-color              : #6AB04D;
$accent-color               : #EB4B4B;


$custom-google-font         : 'Barlow', sans-serif;

$item-media-size            : 128px;
$list-item-height           : 30px;
$button-height              : 44px;
$heading-border-size        : 6px;
$item-radius                : 8px;
$heading-border-width       : 60px;
$heading-border-height      : 2px;
$heading-letter-spacing     : 5px;